.node {
  width: 23px;
  height: 23px;
  outline: 1px solid rgb(175, 216, 248);
  display: inline-block;
  transform: scale(1);
  background-color: white;
}

.node-finish {
  background-image: url(images/Final.png);
  background-color: red;
  background-size: 23px;
}

.node-start {
  background-image: url(images/Start.png);
  background-color: green;
  background-size: 25px;
}

.node-reset {
  background-color: white;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(217, 17, 60, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(192, 75, 167, 0.952);
  }

  100% {
    transform: scale(1);
    background-color: rgba(138, 0, 218, 0.75);
  }
}

.node-wall {
  background-color: rgb(12, 53, 71);
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 254, 106);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 254, 106);
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 254, 106);
  }
}
